<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página de Inicio</title>
    <!-- BOOTSTRAP CSS, DO NOT DELETE -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        $(function chronotimeclock() {
            $('.showButton').click(function () {
                $('.hiddenn').show();
                $('.showclock').hide();
            });
            $('.hideButton').click(function () {
                $('.hiddenn').hide();
                $('.showclock').show();
            });
        });
    </script>
</head>

<body>

<!-- BOOTSTRAP JS, DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header text-center py-5">
            <h1>LOGO</h1>
        </div>
        <div class="text-center py-3">
            <img src="{{ photo.url }}" class="avatar px-2 py-2">
            <p class="h6">Bienvenido, <br> {{ username }}</p>
        </div>
        <ul class="list-unstyled components text-left">
            <li>
                <a href="{% url 'landing_page' %}">Inicio</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Perfil</a>
                <ul class="collapse list-unstyled text-left" id="pageSubmenu">
                    <li>
                        <!--Aca deberemos poner la foto de perfil-->
                        <a href="{% url 'profile' %}">Mi Perfil</a>
                    </li>
                    <li>
                        <a href="#">Seguridad</a>
                    </li>
                    <li>
                        <a href="#">Amigos</a>
                    </li>
                    <li>
                        <a href="#">Mis Actividades</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Otra cosa</a>
            </li>
        </ul>

        <ul class="list-unstyled text-center py-4">
            <!--Logout, cambiar-->
            <form action={% url 'logout' %} method='post'> {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
            </form>
        </ul>
    </nav>

    <div class="container-fluid text-center p-4 main">
        <div class="row p-2 mx-2 rounded shadow table-success">
            <div class="col-9 text-left">
                <h2 class="pt-2">Horario de actividades</h2>
            </div>
            <button class="col-3 h-100 btn btn-primary h3 my-1" id="buttonclock">Iniciar Actividad
                en tiempo real
            </button>
            <!--RELOJ-->
            <div class="col-2" style="display: none" id="base-button">
                <div class="card h-100 bg-primary text-white h2 pt-2 " id="chronotime">
                    0:00:00
                </div>
            </div>
            <!--botones del reloj-->
            <div class="col-1" style="display: none" id="chronotime2">
                <div class="row">
                    <button class="btn btn-sm btn-block btn-success" id="start"> Iniciar</button>
                </div>
                <div class="row">
                    <button class="btn btn-sm btn-block btn-success" id="continue" style="display: none"> Renaudar
                    </button>
                </div>
                <div class="row">
                    <button class="btn btn-sm btn-block btn-success" id="stop" style="display: none"> Parar</button>
                </div>
                <div class="row">
                    <button class="hideButton btn btn-sm btn-block btn-danger" id="clear"> Detener</button>
                </div>
            </div>


        </div>
        <div class="row pt-4">
            <div class="col-2">
                <button type="button" class="btn btn-sm btn-success"> << Mes</button>
                <button type="button" class="btn btn-sm btn-success font-weight-bold"> << Semana</button>
            </div>
            <div class="col-8 h3">
                Semana del lunes 09 de septiembre, 2019
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-sm btn-success font-weight-bold"> Semana >></button>
                <button type="button" class="btn btn-sm btn-success"> Mes >></button>
            </div>
        </div>
        <!--HORARIO-->
        <div class="row ml-1 scroll-horario shadow">
            <table class="table table-bordered table-sm text-center ">
                <thead class="thead-dark table-head-sticky">
                <tr>
                    <th>Hora<br></th>
                    <th>Domingo</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
                </thead>
                <tr id="h0">
                    <td>00:00</td>
                    <td id="D0"></td>
                    <td id="L0"></td>
                    <td id="M0"></td>
                    <td id="X0"></td>
                    <td id="J0"></td>
                    <td id="V0"></td>
                    <td id="S0"></td>

                </tr>
                <tr id="h1">
                    <td>01:00</td>
                    <td id="D1"></td>
                    <td id="L1"></td>
                    <td id="M1"></td>
                    <td id="X1"></td>
                    <td id="J1"></td>
                    <td id="V1"></td>
                    <td id="S1"></td>

                </tr>
                <tr id="h2">
                    <td>02:00</td>
                    <td id="D2"></td>
                    <td id="L2"></td>
                    <td id="M2"></td>
                    <td id="X2"></td>
                    <td id="J2"></td>
                    <td id="V2"></td>
                    <td id="S2"></td>

                </tr>
                <tr id="h3">
                    <td>03:00</td>
                    <td id="D3"></td>
                    <td id="L3"></td>
                    <td id="M3"></td>
                    <td id="X3"></td>
                    <td id="J3"></td>
                    <td id="V3"></td>
                    <td id="S3"></td>

                </tr>
                <tr id="h4">
                    <td>04:00</td>
                    <td id="D4"></td>
                    <td id="L4"></td>
                    <td id="M4"></td>
                    <td id="X4"></td>
                    <td id="J4"></td>
                    <td id="V4"></td>
                    <td id="S4"></td>

                </tr>
                <tr id="h5">
                    <td>05:00</td>
                    <td id="D5"></td>
                    <td id="L5"></td>
                    <td id="M5"></td>
                    <td id="X5"></td>
                    <td id="J5"></td>
                    <td id="V5"></td>
                    <td id="S5"></td>

                </tr>
                <tr id="h6">
                    <td>06:00</td>
                    <td id="D6"></td>
                    <td id="L6"></td>
                    <td id="M6"></td>
                    <td id="X6"></td>
                    <td id="J6"></td>
                    <td id="V6"></td>
                    <td id="S6"></td>

                </tr>
                <tr id="h7">
                    <td>07:00</td>
                    <td id="D7"></td>
                    <td id="L7"></td>
                    <td id="M7"></td>
                    <td id="X7"></td>
                    <td id="J7"></td>
                    <td id="V7"></td>
                    <td id="S7"></td>

                </tr>
                <tr id="h8">
                    <td>08:00<br></td>
                    <td id="D8"></td>
                    <td id="L8"></td>
                    <td id="M8"></td>
                    <td id="X8"></td>
                    <td id="J8"></td>
                    <td id="V8"></td>
                    <td id="S8"></td>

                </tr>
                <tr id="h9">
                    <td>09:00</td>
                    <td id="D9"></td>
                    <td id="L9"></td>
                    <td id="M9"></td>
                    <td id="X9"></td>
                    <td id="J9"></td>
                    <td id="V9"></td>
                    <td id="S9"></td>

                </tr>
                <tr id="h10">
                    <td>10:00</td>
                    <td id="D10"></td>
                    <td id="L10"></td>
                    <td id="M10"></td>
                    <td id="X10"></td>
                    <td id="J10"></td>
                    <td id="V10"></td>
                    <td id="S10"></td>


                </tr>
                <tr id="h11">
                    <td>11:00</td>
                    <td id="D11"></td>
                    <td id="L11"></td>
                    <td id="M11"></td>
                    <td id="X11"></td>
                    <td id="J11"></td>
                    <td id="V11"></td>
                    <td id="S11"></td>

                </tr>
                <tr id="h12">
                    <td>12:00</td>
                    <td id="D12"></td>
                    <td id="L12"></td>
                    <td id="M12"></td>
                    <td id="X12"></td>
                    <td id="J12"></td>
                    <td id="V12"></td>
                    <td id="S12"></td>

                </tr>
                <tr id="h13">
                    <td>13:00</td>
                    <td id="D13"></td>
                    <td id="L13"></td>
                    <td id="M13"></td>
                    <td id="X13"></td>
                    <td id="J13"></td>
                    <td id="V13"></td>
                    <td id="S13"></td>

                </tr>
                <tr id="h14">
                    <td>14:00</td>
                    <td id="D14"></td>
                    <td id="L14"></td>
                    <td id="M14"></td>
                    <td id="X14"></td>
                    <td id="J14"></td>
                    <td id="V14"></td>
                    <td id="S14"></td>

                </tr>
                <tr id="h15">
                    <td>15:00</td>
                    <td id="D15"></td>
                    <td id="L15"></td>
                    <td id="M15"></td>
                    <td id="X15"></td>
                    <td id="J15"></td>
                    <td id="V15"></td>
                    <td id="S15"></td>

                </tr>
                <tr id="h16">
                    <td>16:00</td>
                    <td id="D16"></td>
                    <td id="L16"></td>
                    <td id="M16"></td>
                    <td id="X16"></td>
                    <td id="J16"></td>
                    <td id="V16"></td>
                    <td id="S16"></td>

                </tr>
                <tr id="h17">
                    <td>17:00</td>
                    <td id="D17"></td>
                    <td id="L17"></td>
                    <td id="M17"></td>
                    <td id="X17"></td>
                    <td id="J17"></td>
                    <td id="V17"></td>
                    <td id="S17"></td>

                </tr>
                <tr id="h18">
                    <td>18:00</td>
                    <td id="D18"></td>
                    <td id="L18"></td>
                    <td id="M18"></td>
                    <td id="X18"></td>
                    <td id="J18"></td>
                    <td id="V18"></td>
                    <td id="S18"></td>

                </tr>
                <tr id="h19">
                    <td>19:00</td>
                    <td id="D19"></td>
                    <td id="L19"></td>
                    <td id="M19"></td>
                    <td id="X19"></td>
                    <td id="J19"></td>
                    <td id="V19"></td>
                    <td id="S19"></td>

                </tr>
                <tr id="h20">
                    <td>20:00</td>
                    <td id="D20"></td>
                    <td id="L20"></td>
                    <td id="M20"></td>
                    <td id="X20"></td>
                    <td id="J20"></td>
                    <td id="V20"></td>
                    <td id="S20"></td>

                </tr>
                <tr id="h21">
                    <td>21:00</td>
                    <td id="D21"></td>
                    <td id="L21"></td>
                    <td id="M21"></td>
                    <td id="X21"></td>
                    <td id="J21"></td>
                    <td id="V21"></td>
                    <td id="S21"></td>

                </tr>
                <tr id="h22">
                    <td>22:00</td>
                    <td id="D22"></td>
                    <td id="L22"></td>
                    <td id="M22"></td>
                    <td id="X22"></td>
                    <td id="J22"></td>
                    <td id="V22"></td>
                    <td id="S22"></td>

                </tr>
                <tr id="h23">
                    <td>23:00</td>
                    <td id="D23"></td>
                    <td id="L23"></td>
                    <td id="M23"></td>
                    <td id="X23"></td>
                    <td id="J23"></td>
                    <td id="V23"></td>
                    <td id="S23"></td>

                </tr>
            </table>
            <!-- <td class="table-success">Reunión familiar</td>
            -->
            <!--  <td class="table-danger ">
                        <button class="btn btn-sm btn-block" data-toggle="modal" data-target="#Activity"> Ida
                            Universidad
                        </button>
                    </td>
                    -->
            <!--MODAL FICHA-->
            <div class="modal fade" id="Activity" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title col-10 text-center" id="activitymodal">Ficha de Actividad
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="row">
                                                <label for="nombractividad" class="col-4 col-form-label">Nombre de la
                                                    actividad</label>
                                                <div class="col-8">
                                                    <input id="nombreactividadf" name="nombreactividad"
                                                           value="Ida Universidad" class="form-control"
                                                           required="required" type="text" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="descripcionf"
                                                       class="col-4 col-form-label">Descripción</label>
                                                <div class="col-8">
                                                    <textarea id="descripcionf" name="descripcion" cols="40" rows="4"
                                                              class="form-control" readonly="readonly">Viaje con destino a la Universidad para entrar a todas las clases.</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="select" class="col-4 col-form-label">Categoría</label>
                                                <div class="col-8">
                                                    <input id="categoriaf" type="text" name="select" value="Viaje"
                                                           class="form-control"
                                                           readonly="readonly">


                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastname" class="col-4 col-form-label">Fecha</label>
                                                <div class="col-8">
                                                    <input id="fechaf" type="text" name="lastname" value="09/10/2019"
                                                           class="form-control" type="date" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inicio" class="col-4 col-form-label">Hora inicio</label>
                                                <div class="col-8">
                                                    <input id="hinitf" type="text" name="inicio" value="12:00 PM"
                                                           class="form-control" required="required" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inicio" class="col-4 col-form-label">Duración</label>

                                                <div class="col-4">
                                                    <input id="h_durf" type="number" min="0" pattern="^[0-9]" step="1"
                                                           name="numberHours" class="form-control" required="required"
                                                           value="01" readonly="readonly"> Horas
                                                </div>
                                                <div class="col-4">
                                                    <input type="number" min="0" pattern="^[0-9]" step="1"
                                                           name="numberHours" class="form-control" required="required"
                                                           value="00" readonly="readonly"> Minutos
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--AGREGAR ACTIVIDAD-->
        <div class="row">
            <div class="col-3 pl-4">
                <button class="btn btn-success btn-block btn-sm" data-toggle="modal" data-target="#addActivity">Agregar
                    Actividad
                </button>
            </div>
            <!--MODAL PARA AGREGAR ACTIVIDAD-->
            <div class="modal fade" id="addActivity" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title col-10 text-center" id="exampleModalLongTitle">Agregar Actividad</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="form-group row">
                                                <label for="nombreactividad" class="col-4 col-form-label">Nombre de la
                                                    actividad</label>
                                                <div class="col-8">
                                                    <input id="nombreactividad" name="nombreactividad"
                                                           placeholder="Nombre de la Actividad" class="form-control"
                                                           required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="descripcion"
                                                       class="col-4 col-form-label">Descripción</label>
                                                <div class="col-8">
                                                    <textarea id="descripcion" name="descripcion"
                                                              placeholder="Descripción" cols="40" rows="4"
                                                              class="form-control"></textarea></div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="select" class="col-4 col-form-label">Categoría</label>
                                                <div class="col-8">
                                                    <select id="select" name="select" class="custom-select">
                                                        <!-- Colocar segun la base de datos-->
                                                        {% for category in categories %}
                                                            <option value="{{ category.c_nombre }}">{{ category.c_nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastname" class="col-4 col-form-label">Fecha</label>
                                                <div class="col-8">
                                                    <input id="lastname" name="lastname" placeholder="Fecha"
                                                           class="form-control" type="date">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inicio" class="col-4 col-form-label">Hora inicio</label>
                                                <div class="col-8">
                                                    <input id="inicio" name="inicio" placeholder="Hora de inicio"
                                                           class="form-control" required="required" type="time">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inicio" class="col-4 col-form-label">Duración</label>
                                                <div class="col-4">
                                                    <input id="h_dur" type="number" min="0" pattern="^[0-9]" step="1"
                                                           name="numberHours" class="form-control" required="required"
                                                           placeholder="horas">
                                                </div>
                                                <div class="col-4">
                                                    <input type="number" min="0" pattern="^[0-9]" step="1"
                                                           name="numberHours" class="form-control" required="required"
                                                           placeholder="minutos">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-7">
                                                    <button name="submit" type="submit" class="btn btn-primary">Crear
                                                        Actividad
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
            <!--FILTROS-->
            <div class="col-3">
                <div class="dropdown show">
                    <a class="btn btn-success btn-sm btn-block dropdown-toggle dropdown-toggle-split mb-3 shadow"
                       href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Filtros por categoría
                    </a>
                    <div class="dropdown-menu dropdown-menu-right px-4 py-3" aria-labelledby="dropdownMenuLink">
                        <div class="form-check px-4">
                            <input type="checkbox" class="form-check-input" id="Check1">
                            <label class="form-check-label" for="Check1">Categoría 1</label>
                        </div>
                        <div class="form-check px-4">
                            <input type="checkbox" class="form-check-input" id="Check2">
                            <label class="form-check-label" for="Check2">Categoría 2</label>
                        </div>
                        <div class="form-check px-4">
                            <input type="checkbox" class="form-check-input" id="Check3">
                            <label class="form-check-label" for="Check3">Categoría 3</label>
                        </div>
                        <div class="form-check px-4">
                            <input type="checkbox" class="form-check-input" id="Check4">
                            <label class="form-check-label" for="Check4">Categoría 4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--DATOS SEMANALES Y DE AMIGOS-->
        <div class="row">
            <div class="col">
                <div>
                    <p class="h5 text-dark">Datos semanales</p>
                </div>
                <!--SEMANALES-->
                <table class="table table-bordered table-sm shadow">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Categoría</th>
                        <th scope="col">Promedio</th>
                        <th scope="col">Suma</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-primary">
                        <td>Dormir</td>
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                    </tr>
                    <tr class="table-success">
                        <td>Dormir</td>
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Dormir</td>
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                    </tr>
                    <tr class="table-warning">
                        <td>Dormir</td>
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                    </tr>
                    <tr class="table-info">
                        <td>Dormir</td>
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div>
                    <p class="h5 text-dark">Datos de amigos</p>
                </div>
                <!--AMIGOS-->
                <table class="table table-bordered table-sm shadow">
                    <thead class="thead-dark">
                    <tr>
                        <th class="align-middle" scope="col">Promedio</th>
                        <th class="align-middle" scope="col">Suma</th>
                        <th scope="col">Desviación Estándar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-primary">
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                        <td>1.0</td>
                    </tr>
                    <tr class="table-success">
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                        <td>1.0</td>
                    </tr>
                    <tr class="table-danger">
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                        <td>1.0</td>
                    </tr>
                    <tr class="table-warning">
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                        <td>1.0</td>
                    </tr>
                    <tr class="table-info">
                        <td>8 hrs.</td>
                        <td>43 hrs.</td>
                        <td>1.0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    var actividades = [];
    {% for each in activities %}
        actividades.push({{ each|safe }});
    {% endfor %}
    console.log(actividades);

    window.onload = function () {
        const today = new Date();
        gridData(today);
    };

    function gridData(fecha) {
        var dia = fecha.getDay();
        var day = fecha.getDate();
        var fecha_domingo = day - dia;
        var fecha_lunes = fecha_domingo + 6;
        var semana = [new Date(fecha.setDate(fecha_domingo)), new Date(fecha.setDate(fecha_domingo + 1)),
            new Date(fecha.setDate(fecha_domingo + 2)), new Date(fecha.setDate(fecha_domingo + 3)),
            new Date(fecha.setDate(fecha_domingo + 4)), new Date(fecha.setDate(fecha_domingo + 5)), new Date(fecha.setDate(fecha_lunes))];
        var location = ['D', 'L', 'M', 'X', 'J', 'V', 'S'];


        for (let i = 0; i < semana.length; i++) {
            var dia_semana = semana[i].getDate();
            var mes_semana = semana[i].getMonth() + 1;
            var anho_semana = semana[i].getFullYear();
            for (let j = 0; j < actividades.length; j++) {

                if (actividades[j]['anho'] == anho_semana && actividades[j]['mes'] == mes_semana && actividades[j]['dia'] == dia_semana) {


                    var horas_activas = --actividades[j]['hora_duracion'];
                    while (horas_activas >= 0) {

                        var celda = actividades[j]['hora_inicio'] + horas_activas;
                        var ubicacion = location[i] + celda;
                        if (celda < 0) {
                            ubicacion = location[i - 1] + (24 + celda);
                        } else if (celda > 23) {
                            ubicacion = location[i + 1] + (celda - 24);
                        }
                        document.getElementById(ubicacion).innerHTML = '<button class="btn btn-sm btn-block" data-toggle="modal" data-target="#Activity" onclick="displayData(actividades[' + j + '])">' + actividades[j]['nombre'] + '</button>';
                        document.getElementById(ubicacion).setAttribute("class", "table-success");
                        horas_activas--;
                    }

                }
            }

        }

        return true;
    }

    function displayData(activity) {
        console.log("entre");
        document.getElementById('nombreactividadf').setAttribute('value', activity['nombre']);

        document.getElementById('descripcionf').innerHTML = activity['descripcion'];
        var categoria;
        switch (activity['categoria_id']) {
            case 1:
                categoria = "Dormir";
                break;
            default:
                categoria = "Otro";
                break;
        }
        document.getElementById('categoriaf').setAttribute('value', categoria);
        document.getElementById('fechaf').setAttribute('value', activity['dia'] + "/" + activity['mes'] + "/" + activity['anho']);
        document.getElementById('hinitf').setAttribute('value', activity['hora_inicio']);
        document.getElementById('h_durf').setAttribute('value', activity['hora_duracion']);
    }
</script>
<script src="{% static 'js/clock.js' %}"></script>
</body>

</html>