{% extends 'timePlan/ProfileBase.html' %}


{% block tabs %}
    <div class="row px-5">
        <div class="col offset-sm-2 col-sm-8">
            <ul class="nav nav-tabs" id="pestañas-perfil-de-usuario" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav-link-fix" href="{% url 'profile' %}">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-fix active" href="{% url 'security' %}">Seguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-fix" href="{% url 'friends' %}">Amigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-fix" href="{% url 'my_activities' %}">Mis Actividades</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content_tabs %}
    <div class="row px-5">
        <div class="tab-content p-4 offset-sm-2 col-sm-8" id="myTabContent">
            <div class="tab-pane fade show active" id="Seguridad" role="tabpanel" aria-labelledby="Seguridad-tab">

                {% if success_message %}
                    <p><h4>{{ success_message }}</h4></p>
                {% endif %}

                {% if error_message %}
                    <p><br><h4>{{ error_message }}</h4><br></p>
                {% endif %}

                <form action="{% url 'security' %}" method="post">
                    {% csrf_token %}

                    <!--Contraseña actual-->
                    <fieldset>
                        <div class="form-group">
                            <label for="current_password">Contraseña actual:</label>
                            <input type="password" id="current_password" class="form-control"
                                   name="current_password" placeholder="Contraseña Actual">
                        </div>
                    </fieldset>

                    <!--Contraseña nueva-->
                    <div class="form-group">
                        <label for="new_password">Nueva Contraseña</label>
                        <input type="password" class="form-control" id="new_password" name="new_password"
                               placeholder="Nueva Contraseña">
                    </div>

                    <!--Contraseña confirmacion-->
                    <div class="form-group">
                        <label for="confirmation_password">Confirmación Contraseña</label>
                        <input type="password" class="form-control" id="confirmation_password"
                               name="confirmation_password" placeholder="Confirmación Contraseña">
                    </div>

                    <div class="form-group">
                        <input type="submit">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}