<nav id="sidebar">
        <div class="sidebar-header text-center py-5">
            <h1>LOGO</h1>
        </div>
        <div class="text-center py-3">
            <img src="{{ photo.url }}" class="avatar px-2 py-2">
            <p class="h6">Bienvenido, <br> {{ username }}</p>
        </div>
        <ul class="list-unstyled components text-left">
            <li>
                <a href="{%  url 'landing_page' %}">Inicio</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Perfil</a>
                <ul class="collapse list-unstyled text-left" id="pageSubmenu">
                    <li>
                         <!--Aca deberemos poner la foto de perfil-->
                            <a href="{%  url 'profile' %}">Mi Perfil</a>
                    </li>
                    <li>
                        <a href="{%  url 'security' %}">Seguridad</a>
                    </li>
                    <li>
                        <a href="{%  url 'friends' %}">Amigos</a>
                    </li>
                    <li>
                        <a href="{%  url 'my_activities' %}">Mis Actividades</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled text-center py-4">
            <!--Logout-->
            <form action={%  url 'logout' %} method='post'> {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
            </form>
        </ul>
    </nav>